.box{
    border-radius:3px;
    border-top-width: 3px;
}

.callout pre{
    background-color: transparent;
    border:0;
    color:#fff;
    font-style: italic;
}

.box-zone img.sprinkler {
    width: 100px;
    margin: 0 0 10px 10px;
}
.box-weather{
    margin-bottom:10px;
}
.weather-text{
    margin-top: 10px;
}
#icon_url{
    width:80px;
}
#curWind{
    box-sizing: border-box;
    color: rgb(30, 32, 35);
    cursor: auto;
    display: block;
    font-family: verb, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 66px;
    line-height: normal;
    margin: 14px 0 0 auto;
    padding: 0px;
    position: relative;
    width: 65px;
}
#windCompassContainer{
    box-sizing: border-box;
    color: rgb(30, 32, 35);
    cursor: auto;
    display: block;
    font-family: verb, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 65px;
    line-height: normal;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0px;
    width: 65px;
}
#windCompass{
    box-sizing: border-box;
    color: rgb(30, 32, 35);
    cursor: auto;
    display: block;
    font-family: verb, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 65px;
    left: 0px;
    line-height: normal;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    transform: matrix(0.920505, 0.390731, -0.390731, 0.920505, 0, 0);
    white-space: nowrap;
    width: 65px;
}
.dial{
    border-bottom-color: rgb(129, 130, 130);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(129, 130, 130);
    border-left-style: solid;
    border-left-width: 3px;
    border-right-color: rgb(129, 130, 130);
    border-right-style: solid;
    border-right-width: 3px;
    border-top-color: rgb(129, 130, 130);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-top-style: solid;
    border-top-width: 3px;
    box-sizing: content-box;
    color: rgb(30, 32, 35);
    cursor: auto;
    display: block;
    font-family: verb, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 59px;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: relative;
    white-space: nowrap;
    width: 59px;
}
.arrow-direction{
    border-left-color: rgba(0, 0, 0, 0);
    border-left-style: solid;
    border-left-width: 6px;
    border-right-color: rgba(0, 0, 0, 0);
    border-right-style: solid;
    border-right-width: 6px;
    border-top-color: rgb(30, 32, 35);
    border-top-style: solid;
    border-top-width: 18px;
    box-sizing: border-box;
    color: rgb(30, 32, 35);
    cursor: auto;
    display: block;
    font-family: verb, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: normal;
    height: 18px;
    left: 23.5px;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    top: -10px;
    white-space: nowrap;
    width: 12px;
}
#windN{
    box-sizing: border-box;
    color: rgb(30, 32, 35);
    cursor: auto;
    display: block;
    font-family: verb, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 10.4px;
    font-style: normal;
    font-weight: normal;
    height: 13px;
    left: 0px;
    line-height: normal;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 65px;
}
#windCompassSpeed{
    box-sizing: border-box;
    color: rgb(30, 32, 35);
    cursor: auto;
    display: block;
    font-family: verb, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    height: 71px;
    left: 0px;
    line-height: 70px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    position: absolute;
    text-align: center;
    top: 0px;
    white-space: nowrap;
    width: 65px;
}
.wx-value{
    box-sizing: border-box;
    color: rgb(30, 32, 35);
    cursor: auto;
    display: inline;
    font-family: verb, "Helvetica Neue", Helvetica, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    height: auto;
    line-height: 70px;
    text-align: center;
    white-space: nowrap;
    width: auto;
}

.wrp-cron-item-text{
    position: relative;
}
.tools .overlay-disabled-cron{
    position: absolute;
    top: 2%;
    left: 0;
    width: 100%;
    height: 96%;
    display: none;
    z-index: 999;
    background-color: #000;
    opacity: 0.40;
    filter: alpha(opacity =40);
    border-radius: 5px;
}

.with-tools tr .tools{
    position: relative;
}
.with-tools tr .tools div.tools-wrp {
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -10px;
    display: inline-block;
    color: #dd4b39;
    width:50px;
    visibility: hidden;
}
.with-tools tr:hover .tools div.tools-wrp {
    display: inline-block;
    visibility: visible;
    z-index: 1001;
}
@media screen and (max-width: 1024px) {
    .with-tools tr .tools div.tools-wrp {
        display: inline-block;
        visibility: visible;
    }
}

.with-tools tr .tools div.tools-wrp .fa{
    margin: 0 5px;
    cursor: pointer;
}

table.table-stripped-column tbody td:nth-of-type(odd),
table.table-stripped-column thead th:nth-of-type(odd){
    background-color: rgba(0,0,0,.05);
}

.select2-search__field{
    border:none !important;
}

table.table-borderless,
table.table-borderless tr,
table.table-borderless td,
table.table-borderless th{
    border: 0 !important;
}

table.table-stripped-column tbody td{
    border-left: 1px solid #eceeef;
}

.wrp-switch-cron-item{
    text-align: center;
    padding: 10px 0;
    position:relative;
}
.wrp-switch-cron-item .bootstrap-switch{
    z-index: 1000;
}

ul.cron-item-text{
    box-sizing: border-box;
    list-style: none;
    margin: 0px 40px 0 0;
    padding: 0 5px;
    width: auto;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
ul.cron-item-text li{
    list-style: none;
    background-color: #3c8dbc;
    padding: 1px 10px;
    color: #fff;
    border: 1px solid #367fa9;
    border-radius: 4px;
    cursor: default;
    float: left;
    margin-right: 5px;
    margin-top: 5px;
}
ul.cron-item-text li.min{
    background-color: #3c8dbc;
    border: 1px solid #367fa9;
}
ul.cron-item-text li.hour{
    background-color: #244c69;
    border: 1px solid #1c3c52;
}
ul.cron-item-text li.dom{
    background-color: #bca374;
    border: 1px solid #8a7352;
}
ul.cron-item-text li.month{
    background-color: #8a7352;
    border: 1px solid #69543a;
}
ul.cron-item-text li.dow{
    background-color: #efbe6c;
    border: 1px solid #a59237;
}

/* Dropdown submenu */
.marginBottom-0 {margin-bottom:0;}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
